@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/* custom classes */
:root{
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);
}

/* utility classes */
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column !important;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.align-center{
  align-items: center;
}

.align-top{
  align-items: flex-start;
}

.w-full{
  width: 100%;
}

.float-left{
  float: left;
}

.font-bold{
  font-weight: 700;
}

.hidden{
  display: none;
}

.block{
  display: block;
}

.show {
  opacity: 1;
}

.cursor-pointer{
  cursor: pointer;
}


/* --------------------------------------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color:var(--Light-gray);
  padding-block: 2em;
  line-height: 1.5;
}

.wrapper{
  max-width: 900px;
  margin-inline: auto;
}

.container{
  width: 95%;
  margin-inline: auto;
  background-color: var(--White);
  padding: 1rem ;
  border-radius: 10px;
  margin-bottom: 2em;
}

.comment--title{
  width: 100%;
  margin-bottom: .7em;
}

.comment--title section:nth-child(1){
  gap: 20px;
}

.avatar{
  width: 2em; 
  height: 2em;
}

.name{
  gap: 10px;
}

h1,
p{
  margin-bottom: 0;
}

h1{
  color: black !important;
  font-size: 1.1em;
  opacity: 1;
}

/* 'you' label */
.you{
  background-color: var(--Moderate-blue);
  padding: 3px 7px;
  color: var(--White);
  border-radius: 4px;
}

.postTime{
  gap: 10px;
}

.postTime .time{
  display: none;
}

@media screen and (min-width: 400px) {
  .postTime .time{
    display: inline-block;
  }
}

.comment--title section:nth-child(2){
  display: none;
}

.container p{
  color: var(--Dark-blue);
  opacity: .8;
  font-size: 16px;
}

.comment{
  margin-block: 1em;
  color: var(--Dark-blue);
  letter-spacing: 1px;
  width: 100%;
}

#like,
.reply,
#edit,
.replyingTo{
  color: var(--Moderate-blue);
}

.likes{
  width: 6.5em;
  vertical-align: middle;
  padding: .8em;
  border-radius: 10px;
  background-color: var(--Light-gray);
}

.likes img:hover{
  filter: brightness(70%);
}

.comment--actions{
  gap: 15px;
}

.comment--actions > *:hover,
.comment__form--button:hover{
 opacity: .6;
}

/* delete button */
.deleteBtn{
  color: var(--Soft-Red) !important;
}

#delete__button--desktop{
  display: none;
}

.replies{
  margin-bottom: 2em;
}

.comment--form{
  gap: 10px;
}

#comment__form--mobile{
  display: block;
}

#comment__form--desktop{
  display: none;
}

.comment__form--buttons{
  gap: 10px;
}

.comment__form--button{
  background-color: var(--Moderate-blue);
  color: var(--White);
  cursor: pointer;
  padding: .5rem 1.1rem;
  border-radius: 8px;
  border: none;
}

.comment__form--cancel--button{
  background-color: var(--Soft-Red);
}

/* comment--textarea */
#comment__form--mobile #comment--textarea{
  width: 100%;
}

#comment--textarea{
  padding: 10px;
  margin-bottom: 15px;
}

/* Footer  */

footer{
  width: 90%;
  margin-inline: auto;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1.5px;
}

footer a{
  color: var(--Moderate-blue);
}

a:hover{
  text-decoration: none;
}

@media (min-width: 576px){
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
}

@media (min-width: 800px) {
  main{
    margin-top: 3em;
  }
  .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 25px;
  }

  .content--container{
    width: 100%;
  }

  .comment--title section:nth-child(1){
    gap: 15px;
  }

  .comment--title section:nth-child(2){
    display: flex;
  }

  #delete__button--desktop{
    display: inline-block;
  }

  #delete__button--mobile{
    display: none;
  }

  .likes{
    flex-direction: column;
    gap: 16px;
    font-size: 1.2rem;
    width: 2em;
  }

  .likes_reply_group .comment--actions{
    display: none;
  }

  .replies{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-left: 1.5px solid var(--Grayish-Blue);
    margin-left: 5em;
    padding-left: .7em;
  }

  /* coment--form */
  #comment__form--mobile{
    display: none;
  }
  
  #comment__form--desktop{
    display: flex;
    flex-direction: row;
  }

  #comment--textarea{
    width: 100%;
  }

  footer{
    width: fit-content;
  }

}